<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.mrnev1s.driver.TuringProbe</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>TuringProbe</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>TuringProbe ASUS GTX 1660 Ti Read Only</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.mrnev1s.driver.TuringProbe</string>
            <key>IOClass</key>
            <string>TuringProbe</string>
            <key>IOMatchCategory</key>
            <string>TuringProbeReadOnly</string>
            <key>IOPCIPrimaryMatch</key>
            <string>0x218210de&amp;0xffffffff</string>
            <key>IOPCISecondaryMatch</key>
            <string>0x88541043&amp;0xffffffff</string>
            <key>IOProbeScore</key>
            <integer>100</integer>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
        </dict>
    </dict>
    <key>OSBundleRequired</key>
    <string>Root</string>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IOPCIFamily</key>
        <string>2.9</string>
        <key>com.apple.kpi.iokit</key>
        <string>8.0.0</string>
        <key>com.apple.kpi.libkern</key>
        <string>8.0.0</string>
    </dict>
</dict>
</plist>
